<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itcast.bos.dao.AreaMapper" >
  <resultMap id="BaseResultMap" type="cn.itcast.bos.pojo.Area" >
    <id column="C_ID" property="id" jdbcType="VARCHAR" />
    <result column="C_CITY" property="city" jdbcType="VARCHAR" />
    <result column="C_CITYCODE" property="citycode" jdbcType="VARCHAR" />
    <result column="C_DISTRICT" property="district" jdbcType="VARCHAR" />
    <result column="C_POSTCODE" property="postcode" jdbcType="VARCHAR" />
    <result column="C_PROVINCE" property="province" jdbcType="VARCHAR" />
    <result column="C_SHORTCODE" property="shortcode" jdbcType="VARCHAR" />
    <collection property="subareas" ofType="cn.itcast.bos.pojo.SubArea">
	    <id column="C_ID" property="id" jdbcType="VARCHAR" />
	    <result column="C_ASSIST_KEY_WORDS" property="assistKeyWords" jdbcType="VARCHAR" />
	    <result column="C_ENDNUM" property="endnum" jdbcType="VARCHAR" />
	    <result column="C_KEY_WORDS" property="keyWords" jdbcType="VARCHAR" />
	    <result column="C_SINGLE" property="single" jdbcType="CHAR" />
	    <result column="C_START_NUM" property="startNum" jdbcType="VARCHAR" />
	    <result column="C_AREA_ID" property="areaId" jdbcType="VARCHAR" />
	    <result column="C_FIXEDAREA_ID" property="fixedareaId" jdbcType="VARCHAR" />
    </collection>
  </resultMap>
  <sql id="Base_Column_List" >
    C_ID, C_CITY, C_CITYCODE, C_DISTRICT, C_POSTCODE, C_PROVINCE, C_SHORTCODE
  </sql>
  
  <select id="getKey" resultType="java.lang.String" parameterType="cn.itcast.bos.pojo.Area">
		select C_ID from t_area
		<where>
			<if test="province != null and province !='' ">
				and C_PROVINCE LIKE CONCAT('%',#{province,jdbcType=VARCHAR},'%')
			</if>
			<if test="city != null and city !='' ">
				and C_CITY LIKE CONCAT('%',#{city,jdbcType=VARCHAR},'%')
			</if>
			<if test="district != null and district !='' ">
				and C_DISTRICT LIKE CONCAT('%',#{district,jdbcType=VARCHAR},'%')
			</if>
		</where>
	</select>
  
    <!-- 查询总记录条数 -->
	<select id="findTotal" resultType="java.lang.Integer" parameterType="cn.itcast.bos.pojo.Area">
		select count(*) from t_area
		<where>
			<if test="province != null and province !='' ">
				and C_PROVINCE LIKE CONCAT('%',#{province,jdbcType=VARCHAR},'%')
			</if>
			<if test="city != null and city !='' ">
				and C_CITY LIKE CONCAT('%',#{city,jdbcType=VARCHAR},'%')
			</if>
			<if test="district != null and district !='' ">
				and C_DISTRICT LIKE CONCAT('%',#{district,jdbcType=VARCHAR},'%')
			</if>
		</where>
	</select>
	
	<!-- 查询分页数据 -->
	<select id="findPageData" resultMap="BaseResultMap" parameterType="cn.itcast.bos.pojo.Area">
		select
		<include refid="Base_Column_List" />
		from t_area where 1=1
		<if test="province != null and province !='' ">
			and C_PROVINCE LIKE CONCAT('%',#{province,jdbcType=VARCHAR},'%')
		</if>
		<if test="city != null and city !='' ">
			and C_CITY LIKE CONCAT('%',#{city,jdbcType=VARCHAR},'%')
		</if>
		<if test="district != null and district !='' ">
			and C_DISTRICT LIKE CONCAT('%',#{district,jdbcType=VARCHAR},'%')
		</if>
		<if test="begin != null and end != null">
			limit #{begin} , #{end}
		</if>
	</select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_area
    where C_ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_area
    where C_ID = #{id,jdbcType=VARCHAR}
  </delete>
  
  <!-- 批量插入导入区域数据 -->
  <insert id="saveBatch" parameterType="java.util.List" >
    insert into t_area (C_ID, C_CITY, C_CITYCODE, 
      C_DISTRICT, C_POSTCODE, C_PROVINCE, 
      C_SHORTCODE)
    values 
    <foreach collection="list" item="item" index= "index" separator =",">
    	(
    		#{item.id,jdbcType=VARCHAR}, #{item.city,jdbcType=VARCHAR}, #{item.citycode,jdbcType=VARCHAR}, 
      		#{item.district,jdbcType=VARCHAR}, #{item.postcode,jdbcType=VARCHAR}, #{item.province,jdbcType=VARCHAR}, 
      		#{item.shortcode,jdbcType=VARCHAR}
      	)
    </foreach>
  </insert>
  
  <insert id="insert" parameterType="cn.itcast.bos.pojo.Area" >
    insert into t_area (C_ID, C_CITY, C_CITYCODE, 
      C_DISTRICT, C_POSTCODE, C_PROVINCE, 
      C_SHORTCODE)
    values (#{id,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{citycode,jdbcType=VARCHAR}, 
      #{district,jdbcType=VARCHAR}, #{postcode,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{shortcode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.itcast.bos.pojo.Area" >
    insert into t_area
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        C_ID,
      </if>
      <if test="city != null" >
        C_CITY,
      </if>
      <if test="citycode != null" >
        C_CITYCODE,
      </if>
      <if test="district != null" >
        C_DISTRICT,
      </if>
      <if test="postcode != null" >
        C_POSTCODE,
      </if>
      <if test="province != null" >
        C_PROVINCE,
      </if>
      <if test="shortcode != null" >
        C_SHORTCODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="citycode != null" >
        #{citycode,jdbcType=VARCHAR},
      </if>
      <if test="district != null" >
        #{district,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null" >
        #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="shortcode != null" >
        #{shortcode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.itcast.bos.pojo.Area" >
    update t_area
    <set >
      <if test="city != null" >
        C_CITY = #{city,jdbcType=VARCHAR},
      </if>
      <if test="citycode != null" >
        C_CITYCODE = #{citycode,jdbcType=VARCHAR},
      </if>
      <if test="district != null" >
        C_DISTRICT = #{district,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null" >
        C_POSTCODE = #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        C_PROVINCE = #{province,jdbcType=VARCHAR},
      </if>
      <if test="shortcode != null" >
        C_SHORTCODE = #{shortcode,jdbcType=VARCHAR},
      </if>
    </set>
    where C_ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.itcast.bos.pojo.Area" >
    update t_area
    set C_CITY = #{city,jdbcType=VARCHAR},
      C_CITYCODE = #{citycode,jdbcType=VARCHAR},
      C_DISTRICT = #{district,jdbcType=VARCHAR},
      C_POSTCODE = #{postcode,jdbcType=VARCHAR},
      C_PROVINCE = #{province,jdbcType=VARCHAR},
      C_SHORTCODE = #{shortcode,jdbcType=VARCHAR}
    where C_ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>