<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itcast.bos.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="cn.itcast.bos.pojo.take_delivery.Order">
    <id column="C_ID" jdbcType="INTEGER" property="id" />
    <result column="C_ORDER_NUM" jdbcType="VARCHAR" property="orderNum" />
    <result column="C_TELEPHONE" jdbcType="VARCHAR" property="telephone" />
    <result column="C_CUSTOMER_ID" jdbcType="INTEGER" property="customerId" />
    <result column="C_SEND_NAME" jdbcType="VARCHAR" property="sendName" />
    <result column="C_SEND_MOBILE" jdbcType="VARCHAR" property="sendMobile" />
    <result column="C_SEND_COMPANY" jdbcType="VARCHAR" property="sendCompany" />
    <result column="C_SEND_AREA_ID" jdbcType="VARCHAR" property="sendAreaId" />
    <result column="C_SEND_ADDRESS" jdbcType="VARCHAR" property="sendAddress" />
    <result column="C_REC_NAME" jdbcType="VARCHAR" property="recName" />
    <result column="C_REC_MOBILE" jdbcType="VARCHAR" property="recMobile" />
    <result column="C_REC_COMPANY" jdbcType="VARCHAR" property="recCompany" />
    <result column="C_REC_AREA_ID" jdbcType="VARCHAR" property="recAreaId" />
    <result column="C_REC_ADDRESS" jdbcType="VARCHAR" property="recAddress" />
    <result column="C_SEND_PRO_NUM" jdbcType="VARCHAR" property="sendProNum" />
    <result column="C_GOODS_TYPE" jdbcType="VARCHAR" property="goodsType" />
    <result column="C_PAY_TYPE_NUM" jdbcType="VARCHAR" property="payTypeNum" />
    <result column="C_WEIGHT" jdbcType="DOUBLE" property="weight" />
    <result column="C_REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="C_SEND_MOBILE_MSG" jdbcType="VARCHAR" property="sendMobileMsg" />
    <result column="C_ORDER_TYPE" jdbcType="VARCHAR" property="orderType" />
    <result column="C_STATUS" jdbcType="VARCHAR" property="status" />
    <result column="C_ORDER_TIME" jdbcType="VARCHAR" property="orderTime" />
    <result column="C_COURIER_ID" jdbcType="INTEGER" property="courierId" />
    <result column="C_WAYBILL_ID" jdbcType="INTEGER" property="waybillId" />
  </resultMap>
  <sql id="Base_Column_List">
    C_ID, C_ORDER_NUM, C_TELEPHONE, C_CUSTOMER_ID, C_SEND_NAME, C_SEND_MOBILE, C_SEND_COMPANY, 
    C_SEND_AREA_ID, C_SEND_ADDRESS, C_REC_NAME, C_REC_MOBILE, C_REC_COMPANY, C_REC_AREA_ID, 
    C_REC_ADDRESS, C_SEND_PRO_NUM, C_GOODS_TYPE, C_PAY_TYPE_NUM, C_WEIGHT, C_REMARK, 
    C_SEND_MOBILE_MSG, C_ORDER_TYPE, C_STATUS, C_ORDER_TIME, C_COURIER_ID, C_WAYBILL_ID
  </sql>
  
  <select id="findPageData" parameterType="cn.itcast.bos.pojo.take_delivery.Order" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_order where 1=1
    <if test="orderNum != null">
    	and C_ORDER_NUM = #{orderNum}
    </if>
    <if test="begin != null and end != null">
    	limit #{begin} , #{end}
    </if>
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_order
    where C_ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_order
    where C_ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.itcast.bos.pojo.take_delivery.Order">
    insert into t_order (C_ID, C_ORDER_NUM, C_TELEPHONE, 
      C_CUSTOMER_ID, C_SEND_NAME, C_SEND_MOBILE, 
      C_SEND_COMPANY, C_SEND_AREA_ID, C_SEND_ADDRESS, 
      C_REC_NAME, C_REC_MOBILE, C_REC_COMPANY, 
      C_REC_AREA_ID, C_REC_ADDRESS, C_SEND_PRO_NUM, 
      C_GOODS_TYPE, C_PAY_TYPE_NUM, C_WEIGHT, 
      C_REMARK, C_SEND_MOBILE_MSG, C_ORDER_TYPE, 
      C_STATUS, C_ORDER_TIME, C_COURIER_ID, 
      C_WAYBILL_ID)
    values (#{id,jdbcType=INTEGER}, #{orderNum,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, 
      #{customerId,jdbcType=INTEGER}, #{sendName,jdbcType=VARCHAR}, #{sendMobile,jdbcType=VARCHAR}, 
      #{sendCompany,jdbcType=VARCHAR}, #{sendAreaId,jdbcType=VARCHAR}, #{sendAddress,jdbcType=VARCHAR}, 
      #{recName,jdbcType=VARCHAR}, #{recMobile,jdbcType=VARCHAR}, #{recCompany,jdbcType=VARCHAR}, 
      #{recAreaId,jdbcType=VARCHAR}, #{recAddress,jdbcType=VARCHAR}, #{sendProNum,jdbcType=VARCHAR}, 
      #{goodsType,jdbcType=VARCHAR}, #{payTypeNum,jdbcType=VARCHAR}, #{weight,jdbcType=DOUBLE}, 
      #{remark,jdbcType=VARCHAR}, #{sendMobileMsg,jdbcType=VARCHAR}, #{orderType,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{orderTime,jdbcType=VARCHAR}, #{courierId,jdbcType=INTEGER}, 
      #{waybillId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.itcast.bos.pojo.take_delivery.Order">
    insert into t_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        C_ID,
      </if>
      <if test="orderNum != null">
        C_ORDER_NUM,
      </if>
      <if test="telephone != null">
        C_TELEPHONE,
      </if>
      <if test="customerId != null">
        C_CUSTOMER_ID,
      </if>
      <if test="sendName != null">
        C_SEND_NAME,
      </if>
      <if test="sendMobile != null">
        C_SEND_MOBILE,
      </if>
      <if test="sendCompany != null">
        C_SEND_COMPANY,
      </if>
      <if test="sendAreaId != null">
        C_SEND_AREA_ID,
      </if>
      <if test="sendAddress != null">
        C_SEND_ADDRESS,
      </if>
      <if test="recName != null">
        C_REC_NAME,
      </if>
      <if test="recMobile != null">
        C_REC_MOBILE,
      </if>
      <if test="recCompany != null">
        C_REC_COMPANY,
      </if>
      <if test="recAreaId != null">
        C_REC_AREA_ID,
      </if>
      <if test="recAddress != null">
        C_REC_ADDRESS,
      </if>
      <if test="sendProNum != null">
        C_SEND_PRO_NUM,
      </if>
      <if test="goodsType != null">
        C_GOODS_TYPE,
      </if>
      <if test="payTypeNum != null">
        C_PAY_TYPE_NUM,
      </if>
      <if test="weight != null">
        C_WEIGHT,
      </if>
      <if test="remark != null">
        C_REMARK,
      </if>
      <if test="sendMobileMsg != null">
        C_SEND_MOBILE_MSG,
      </if>
      <if test="orderType != null">
        C_ORDER_TYPE,
      </if>
      <if test="status != null">
        C_STATUS,
      </if>
      <if test="orderTime != null">
        C_ORDER_TIME,
      </if>
      <if test="courierId != null">
        C_COURIER_ID,
      </if>
      <if test="waybillId != null">
        C_WAYBILL_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderNum != null">
        #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="sendName != null">
        #{sendName,jdbcType=VARCHAR},
      </if>
      <if test="sendMobile != null">
        #{sendMobile,jdbcType=VARCHAR},
      </if>
      <if test="sendCompany != null">
        #{sendCompany,jdbcType=VARCHAR},
      </if>
      <if test="sendAreaId != null">
        #{sendAreaId,jdbcType=VARCHAR},
      </if>
      <if test="sendAddress != null">
        #{sendAddress,jdbcType=VARCHAR},
      </if>
      <if test="recName != null">
        #{recName,jdbcType=VARCHAR},
      </if>
      <if test="recMobile != null">
        #{recMobile,jdbcType=VARCHAR},
      </if>
      <if test="recCompany != null">
        #{recCompany,jdbcType=VARCHAR},
      </if>
      <if test="recAreaId != null">
        #{recAreaId,jdbcType=VARCHAR},
      </if>
      <if test="recAddress != null">
        #{recAddress,jdbcType=VARCHAR},
      </if>
      <if test="sendProNum != null">
        #{sendProNum,jdbcType=VARCHAR},
      </if>
      <if test="goodsType != null">
        #{goodsType,jdbcType=VARCHAR},
      </if>
      <if test="payTypeNum != null">
        #{payTypeNum,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DOUBLE},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sendMobileMsg != null">
        #{sendMobileMsg,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="orderTime != null">
        #{orderTime,jdbcType=VARCHAR},
      </if>
      <if test="courierId != null">
        #{courierId,jdbcType=INTEGER},
      </if>
      <if test="waybillId != null">
        #{waybillId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.itcast.bos.pojo.take_delivery.Order">
    update t_order
    <set>
      <if test="orderNum != null">
        C_ORDER_NUM = #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        C_TELEPHONE = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null">
        C_CUSTOMER_ID = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="sendName != null">
        C_SEND_NAME = #{sendName,jdbcType=VARCHAR},
      </if>
      <if test="sendMobile != null">
        C_SEND_MOBILE = #{sendMobile,jdbcType=VARCHAR},
      </if>
      <if test="sendCompany != null">
        C_SEND_COMPANY = #{sendCompany,jdbcType=VARCHAR},
      </if>
      <if test="sendAreaId != null">
        C_SEND_AREA_ID = #{sendAreaId,jdbcType=VARCHAR},
      </if>
      <if test="sendAddress != null">
        C_SEND_ADDRESS = #{sendAddress,jdbcType=VARCHAR},
      </if>
      <if test="recName != null">
        C_REC_NAME = #{recName,jdbcType=VARCHAR},
      </if>
      <if test="recMobile != null">
        C_REC_MOBILE = #{recMobile,jdbcType=VARCHAR},
      </if>
      <if test="recCompany != null">
        C_REC_COMPANY = #{recCompany,jdbcType=VARCHAR},
      </if>
      <if test="recAreaId != null">
        C_REC_AREA_ID = #{recAreaId,jdbcType=VARCHAR},
      </if>
      <if test="recAddress != null">
        C_REC_ADDRESS = #{recAddress,jdbcType=VARCHAR},
      </if>
      <if test="sendProNum != null">
        C_SEND_PRO_NUM = #{sendProNum,jdbcType=VARCHAR},
      </if>
      <if test="goodsType != null">
        C_GOODS_TYPE = #{goodsType,jdbcType=VARCHAR},
      </if>
      <if test="payTypeNum != null">
        C_PAY_TYPE_NUM = #{payTypeNum,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        C_WEIGHT = #{weight,jdbcType=DOUBLE},
      </if>
      <if test="remark != null">
        C_REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sendMobileMsg != null">
        C_SEND_MOBILE_MSG = #{sendMobileMsg,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null">
        C_ORDER_TYPE = #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        C_STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="orderTime != null">
        C_ORDER_TIME = #{orderTime,jdbcType=VARCHAR},
      </if>
      <if test="courierId != null">
        C_COURIER_ID = #{courierId,jdbcType=INTEGER},
      </if>
      <if test="waybillId != null">
        C_WAYBILL_ID = #{waybillId,jdbcType=INTEGER},
      </if>
    </set>
    where C_ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.itcast.bos.pojo.take_delivery.Order">
    update t_order
    set C_ORDER_NUM = #{orderNum,jdbcType=VARCHAR},
      C_TELEPHONE = #{telephone,jdbcType=VARCHAR},
      C_CUSTOMER_ID = #{customerId,jdbcType=INTEGER},
      C_SEND_NAME = #{sendName,jdbcType=VARCHAR},
      C_SEND_MOBILE = #{sendMobile,jdbcType=VARCHAR},
      C_SEND_COMPANY = #{sendCompany,jdbcType=VARCHAR},
      C_SEND_AREA_ID = #{sendAreaId,jdbcType=VARCHAR},
      C_SEND_ADDRESS = #{sendAddress,jdbcType=VARCHAR},
      C_REC_NAME = #{recName,jdbcType=VARCHAR},
      C_REC_MOBILE = #{recMobile,jdbcType=VARCHAR},
      C_REC_COMPANY = #{recCompany,jdbcType=VARCHAR},
      C_REC_AREA_ID = #{recAreaId,jdbcType=VARCHAR},
      C_REC_ADDRESS = #{recAddress,jdbcType=VARCHAR},
      C_SEND_PRO_NUM = #{sendProNum,jdbcType=VARCHAR},
      C_GOODS_TYPE = #{goodsType,jdbcType=VARCHAR},
      C_PAY_TYPE_NUM = #{payTypeNum,jdbcType=VARCHAR},
      C_WEIGHT = #{weight,jdbcType=DOUBLE},
      C_REMARK = #{remark,jdbcType=VARCHAR},
      C_SEND_MOBILE_MSG = #{sendMobileMsg,jdbcType=VARCHAR},
      C_ORDER_TYPE = #{orderType,jdbcType=VARCHAR},
      C_STATUS = #{status,jdbcType=VARCHAR},
      C_ORDER_TIME = #{orderTime,jdbcType=VARCHAR},
      C_COURIER_ID = #{courierId,jdbcType=INTEGER},
      C_WAYBILL_ID = #{waybillId,jdbcType=INTEGER}
    where C_ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>