<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itcast.bos.dao.PermissionMapper">
  <resultMap id="BaseResultMap" type="cn.itcast.bos.pojo.system.Permission">
    <id column="C_ID" jdbcType="INTEGER" property="id" />
    <result column="C_NAME" jdbcType="VARCHAR" property="name" />
    <result column="C_KEYWORD" jdbcType="VARCHAR" property="keyword" />
    <result column="C_DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="C_ADD_TIME" jdbcType="VARCHAR" property="addTime" />
  </resultMap>
  <sql id="Base_Column_List">
    C_ID, C_NAME, C_KEYWORD, C_DESCRIPTION, C_ADD_TIME
  </sql>
  
  <!-- 根据用户Id查询所有权限 -->
   <select id="findByUser" parameterType="java.lang.Integer" resultType="java.lang.String">
    SELECT p.C_KEYWORD 
    FROM 
    	t_permission p
	INNER JOIN 
		t_role_permission rp
			ON rp.C_PERMISSION_ID = p.C_ID
	INNER JOIN 
		t_user_role ur
			ON ur.C_ROLE_ID = rp.C_ROLE_ID 
			AND ur.C_USER_ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="findAllKeyword" resultType="java.lang.String">
    SELECT C_KEYWORD FROM t_permission
  </select>
  
  <select id="findAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_permission
  </select>
  
  <select id="findMaxId" resultType="java.lang.Integer">
    select 
    	MAX(C_ID)
    from t_permission
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_permission
    where C_ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_permission
    where C_ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.itcast.bos.pojo.system.Permission">
    insert into t_permission (C_ID, C_NAME, C_KEYWORD, 
      C_DESCRIPTION, C_ADD_TIME)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{keyword,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{addTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.itcast.bos.pojo.system.Permission">
    insert into t_permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        C_ID,
      </if>
      <if test="name != null">
        C_NAME,
      </if>
      <if test="keyword != null">
        C_KEYWORD,
      </if>
      <if test="description != null">
        C_DESCRIPTION,
      </if>
      <if test="addTime != null">
        C_ADD_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null">
        #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.itcast.bos.pojo.system.Permission">
    update t_permission
    <set>
      <if test="name != null">
        C_NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null">
        C_KEYWORD = #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        C_DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        C_ADD_TIME = #{addTime,jdbcType=VARCHAR},
      </if>
    </set>
    where C_ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.itcast.bos.pojo.system.Permission">
    update t_permission
    set C_NAME = #{name,jdbcType=VARCHAR},
      C_KEYWORD = #{keyword,jdbcType=VARCHAR},
      C_DESCRIPTION = #{description,jdbcType=VARCHAR},
      C_ADD_TIME = #{addTime,jdbcType=VARCHAR}
    where C_ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>