<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itcast.bos.dao.PromotionMapper" >
  <resultMap id="BaseResultMap" type="cn.itcast.bos.pojo.take_delivery.Promotion" >
    <id column="C_ID" property="id" jdbcType="INTEGER" />
    <result column="C_TITLE" property="title" jdbcType="VARCHAR" />
    <result column="C_TITLE_IMG" property="titleImg" jdbcType="VARCHAR" />
    <result column="C_ACTIVE_SCOPE" property="activeScope" jdbcType="VARCHAR" />
    <result column="C_START_DATE" property="startDate" jdbcType="VARCHAR" />
    <result column="C_END_DATE" property="endDate" jdbcType="VARCHAR" />
    <result column="C_UPDATE_TIME" property="updateTime" jdbcType="VARCHAR" />
    <result column="C_UPDATE_UNIT" property="updateUnit" jdbcType="VARCHAR" />
    <result column="C_UPDATE_USER" property="updateUser" jdbcType="VARCHAR" />
    <result column="C_STATUS" property="status" jdbcType="VARCHAR" />
    <result column="C_DESCRIPTION" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    C_ID, C_TITLE, C_TITLE_IMG, C_ACTIVE_SCOPE, C_START_DATE, C_END_DATE, C_UPDATE_TIME, 
    C_UPDATE_UNIT, C_UPDATE_USER, C_STATUS, C_DESCRIPTION
  </sql>
  
   <select id="findTotal" resultType="java.lang.Integer" parameterType="cn.itcast.bos.pojo.take_delivery.Promotion" >
    select count(*) from t_promotion
  </select>
  
  <select id="findPageData" resultMap="BaseResultMap" parameterType="cn.itcast.bos.pojo.take_delivery.Promotion" >
    select 
    <include refid="Base_Column_List" />
    from t_promotion
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_promotion
    where C_ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_promotion
    where C_ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.itcast.bos.pojo.take_delivery.Promotion" >
    insert into t_promotion (C_ID, C_TITLE, C_TITLE_IMG, 
      C_ACTIVE_SCOPE, C_START_DATE, C_END_DATE, 
      C_UPDATE_TIME, C_UPDATE_UNIT, C_UPDATE_USER, 
      C_STATUS, C_DESCRIPTION)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{titleImg,jdbcType=VARCHAR}, 
      #{activeScope,jdbcType=VARCHAR}, #{startDate,jdbcType=VARCHAR}, #{endDate,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=VARCHAR}, #{updateUnit,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.itcast.bos.pojo.take_delivery.Promotion" >
    insert into t_promotion
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        C_ID,
      </if>
      <if test="title != null" >
        C_TITLE,
      </if>
      <if test="titleImg != null" >
        C_TITLE_IMG,
      </if>
      <if test="activeScope != null" >
        C_ACTIVE_SCOPE,
      </if>
      <if test="startDate != null" >
        C_START_DATE,
      </if>
      <if test="endDate != null" >
        C_END_DATE,
      </if>
      <if test="updateTime != null" >
        C_UPDATE_TIME,
      </if>
      <if test="updateUnit != null" >
        C_UPDATE_UNIT,
      </if>
      <if test="updateUser != null" >
        C_UPDATE_USER,
      </if>
      <if test="status != null" >
        C_STATUS,
      </if>
      <if test="description != null" >
        C_DESCRIPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="titleImg != null" >
        #{titleImg,jdbcType=VARCHAR},
      </if>
      <if test="activeScope != null" >
        #{activeScope,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="updateUnit != null" >
        #{updateUnit,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.itcast.bos.pojo.take_delivery.Promotion" >
    update t_promotion
    <set >
      <if test="title != null" >
        C_TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="titleImg != null" >
        C_TITLE_IMG = #{titleImg,jdbcType=VARCHAR},
      </if>
      <if test="activeScope != null" >
        C_ACTIVE_SCOPE = #{activeScope,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        C_START_DATE = #{startDate,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null" >
        C_END_DATE = #{endDate,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        C_UPDATE_TIME = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="updateUnit != null" >
        C_UPDATE_UNIT = #{updateUnit,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        C_UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        C_STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        C_DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where C_ID = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="cn.itcast.bos.pojo.take_delivery.Promotion" >
    update t_promotion
    set C_TITLE = #{title,jdbcType=VARCHAR},
      C_TITLE_IMG = #{titleImg,jdbcType=VARCHAR},
      C_ACTIVE_SCOPE = #{activeScope,jdbcType=VARCHAR},
      C_START_DATE = #{startDate,jdbcType=VARCHAR},
      C_END_DATE = #{endDate,jdbcType=VARCHAR},
      C_UPDATE_TIME = #{updateTime,jdbcType=VARCHAR},
      C_UPDATE_UNIT = #{updateUnit,jdbcType=VARCHAR},
      C_UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      C_STATUS = #{status,jdbcType=VARCHAR},
      C_DESCRIPTION = #{description,jdbcType=VARCHAR}
    where C_ID = #{id,jdbcType=INTEGER}
  </update>
  <!-- 定时任务修改宣传任务状态 -->
  <update id="updateStatusQuartz" parameterType="string" >
    update t_promotion
    set C_STATUS = '2'
    where  #{time}  &gt; C_END_DATE
  </update>
</mapper>