<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itcast.bos.dao.SubAreaMapper" >
  <resultMap id="BaseResultMap" type="cn.itcast.bos.pojo.SubArea" >
    <id column="C_ID" property="id" jdbcType="VARCHAR" />
    <result column="C_ASSIST_KEY_WORDS" property="assistKeyWords" jdbcType="VARCHAR" />
    <result column="C_ENDNUM" property="endnum" jdbcType="VARCHAR" />
    <result column="C_KEY_WORDS" property="keyWords" jdbcType="VARCHAR" />
    <result column="C_SINGLE" property="single" jdbcType="CHAR" />
    <result column="C_START_NUM" property="startNum" jdbcType="VARCHAR" />
    <result column="C_AREA_ID" property="areaId" jdbcType="VARCHAR" />
    <result column="C_FIXEDAREA_ID" property="fixedareaId" jdbcType="VARCHAR" />
    <!-- 区域 -->
    <association property="area" javaType="cn.itcast.bos.pojo.Area">
    	<id column="C_ID" property="id" jdbcType="VARCHAR" />
	    <result column="C_CITY" property="city" jdbcType="VARCHAR" />
	    <result column="C_CITYCODE" property="citycode" jdbcType="VARCHAR" />
	    <result column="C_DISTRICT" property="district" jdbcType="VARCHAR" />
	    <result column="C_POSTCODE" property="postcode" jdbcType="VARCHAR" />
	    <result column="C_PROVINCE" property="province" jdbcType="VARCHAR" />
	    <result column="C_SHORTCODE" property="shortcode" jdbcType="VARCHAR" />
    </association>
    <!-- 定区 -->
    <association property="fixedArea" javaType="cn.itcast.bos.pojo.FixedArea">
	    <id column="C_ID" property="id" jdbcType="VARCHAR" />
	    <result column="C_COMPANY" property="company" jdbcType="VARCHAR" />
	    <result column="C_FIXED_AREA_LEADER" property="fixedAreaLeader" jdbcType="VARCHAR" />
	    <result column="C_FIXED_AREA_NAME" property="fixedAreaName" jdbcType="VARCHAR" />
	    <result column="C_OPERATING_COMPANY" property="operatingCompany" jdbcType="VARCHAR" />
	    <result column="C_OPERATING_TIME" property="operatingTime" jdbcType="TIMESTAMP" />
	    <result column="C_OPERATOR" property="operator" jdbcType="VARCHAR" />
	    <result column="C_TELEPHONE" property="telephone" jdbcType="VARCHAR" />
    </association>
  </resultMap>
  
  <sql id="Base_Column_List" >
    C_ID, C_ASSIST_KEY_WORDS, C_ENDNUM, C_KEY_WORDS, C_SINGLE, C_START_NUM, C_AREA_ID, 
    C_FIXEDAREA_ID
  </sql>
  
 	 <!-- 查询总记录条数 -->
	<select id="findTotal" resultType="int" parameterType="cn.itcast.bos.pojo.SubArea">
		select count(0) from t_sub_area
	</select>
	
	<!-- 查询分页数据 -->
	<select id="findPageData" resultMap="BaseResultMap" parameterType="cn.itcast.bos.pojo.SubArea">
		SELECT 
		    a.C_ID,
		    a.C_ASSIST_KEY_WORDS,
		    a.C_ENDNUM,
		    a.C_KEY_WORDS,
		    a.C_SINGLE,
		    a.C_START_NUM,
		    a.C_AREA_ID,
		    a.C_FIXEDAREA_ID,
		    b.C_ID,
		    b.C_PROVINCE,
		    b.C_CITY,
		    b.C_DISTRICT
		FROM t_sub_area a
		    LEFT JOIN t_area b
		ON
	   		a.C_AREA_ID = b.C_ID
		<if test="begin != null and end != null">
			limit #{begin} , #{end}
		</if>
	</select>
	
	<select id="findWithSubPageData" resultMap="BaseResultMap" parameterType="cn.itcast.bos.pojo.SubArea">
		SELECT 
		    a.C_ID,
		    a.C_ASSIST_KEY_WORDS,
		    a.C_ENDNUM,
		    a.C_KEY_WORDS,
		    a.C_SINGLE,
		    a.C_START_NUM,
		    a.C_AREA_ID,
		    a.C_FIXEDAREA_ID,
		    b.C_ID,
		    b.C_PROVINCE,
		    b.C_CITY,
		    b.C_DISTRICT
		FROM t_sub_area a
		    INNER JOIN t_area b
		ON
			a.C_AREA_ID = #{areaId}
	   		a.C_AREA_ID = b.C_ID
		<if test="begin != null and end != null">
			limit #{begin} , #{end}
		</if>
	</select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_sub_area
    where C_ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_sub_area
    where C_ID = #{id,jdbcType=VARCHAR}
  </delete>
  
  <!-- 批量插入导入分区数据 -->
  <insert id="saveBatch" parameterType="java.util.List" >
    insert into t_sub_area (
    	C_ID, 
    	C_KEY_WORDS, 
    	C_START_NUM, 
     	C_ENDNUM, 
     	C_SINGLE, 
     	C_ASSIST_KEY_WORDS, 
     	C_AREA_ID)
    values 
    <foreach collection="list" item="item" index= "index" separator =",">
   	(
   		#{item.id,jdbcType=VARCHAR}, 
   		#{item.keyWords,jdbcType=VARCHAR}, 
   		#{item.startNum,jdbcType=VARCHAR}, 
   		#{item.endnum,jdbcType=VARCHAR}, 
   		#{item.single,jdbcType=VARCHAR}, 
   		#{item.assistKeyWords,jdbcType=VARCHAR}, 
   		#{item.areaId,jdbcType=VARCHAR}
   	)
    </foreach>
  </insert>
  
  
  <insert id="insert" parameterType="cn.itcast.bos.pojo.SubArea" >
    insert into t_sub_area (C_ID, C_ASSIST_KEY_WORDS, C_ENDNUM, 
      C_KEY_WORDS, C_SINGLE, C_START_NUM, 
      C_AREA_ID, C_FIXEDAREA_ID)
    values (#{id,jdbcType=VARCHAR}, #{assistKeyWords,jdbcType=VARCHAR}, #{endnum,jdbcType=VARCHAR}, 
      #{keyWords,jdbcType=VARCHAR}, #{single,jdbcType=CHAR}, #{startNum,jdbcType=VARCHAR}, 
      #{areaId,jdbcType=VARCHAR}, #{fixedareaId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.itcast.bos.pojo.SubArea" >
    insert into t_sub_area
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        C_ID,
      </if>
      <if test="assistKeyWords != null" >
        C_ASSIST_KEY_WORDS,
      </if>
      <if test="endnum != null" >
        C_ENDNUM,
      </if>
      <if test="keyWords != null" >
        C_KEY_WORDS,
      </if>
      <if test="single != null" >
        C_SINGLE,
      </if>
      <if test="startNum != null" >
        C_START_NUM,
      </if>
      <if test="areaId != null" >
        C_AREA_ID,
      </if>
      <if test="fixedareaId != null" >
        C_FIXEDAREA_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="assistKeyWords != null" >
        #{assistKeyWords,jdbcType=VARCHAR},
      </if>
      <if test="endnum != null" >
        #{endnum,jdbcType=VARCHAR},
      </if>
      <if test="keyWords != null" >
        #{keyWords,jdbcType=VARCHAR},
      </if>
      <if test="single != null" >
        #{single,jdbcType=CHAR},
      </if>
      <if test="startNum != null" >
        #{startNum,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=VARCHAR},
      </if>
      <if test="fixedareaId != null" >
        #{fixedareaId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.itcast.bos.pojo.SubArea" >
    update t_sub_area
    <set >
      <if test="assistKeyWords != null" >
        C_ASSIST_KEY_WORDS = #{assistKeyWords,jdbcType=VARCHAR},
      </if>
      <if test="endnum != null" >
        C_ENDNUM = #{endnum,jdbcType=VARCHAR},
      </if>
      <if test="keyWords != null" >
        C_KEY_WORDS = #{keyWords,jdbcType=VARCHAR},
      </if>
      <if test="single != null" >
        C_SINGLE = #{single,jdbcType=CHAR},
      </if>
      <if test="startNum != null" >
        C_START_NUM = #{startNum,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null" >
        C_AREA_ID = #{areaId,jdbcType=VARCHAR},
      </if>
      <if test="fixedareaId != null" >
        C_FIXEDAREA_ID = #{fixedareaId,jdbcType=VARCHAR},
      </if>
    </set>
    where C_ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.itcast.bos.pojo.SubArea" >
    update t_sub_area
    set C_ASSIST_KEY_WORDS = #{assistKeyWords,jdbcType=VARCHAR},
      C_ENDNUM = #{endnum,jdbcType=VARCHAR},
      C_KEY_WORDS = #{keyWords,jdbcType=VARCHAR},
      C_SINGLE = #{single,jdbcType=CHAR},
      C_START_NUM = #{startNum,jdbcType=VARCHAR},
      C_AREA_ID = #{areaId,jdbcType=VARCHAR},
      C_FIXEDAREA_ID = #{fixedareaId,jdbcType=VARCHAR}
    where C_ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>