<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itcast.bos.dao.TakeTimeMapper" >
  <resultMap id="BaseResultMap" type="cn.itcast.bos.pojo.TakeTime" >
    <id column="C_ID" property="id" jdbcType="INTEGER" />
    <result column="C_COMPANY" property="company" jdbcType="VARCHAR" />
    <result column="C_NAME" property="name" jdbcType="VARCHAR" />
    <result column="C_NORMAL_DUTY_TIME" property="normalDutyTime" jdbcType="VARCHAR" />
    <result column="C_NORMAL_WORK_TIME" property="normalWorkTime" jdbcType="VARCHAR" />
    <result column="C_OPERATING_COMPANY" property="operatingCompany" jdbcType="VARCHAR" />
    <result column="C_OPERATING_TIME" property="operatingTime" jdbcType="TIMESTAMP" />
    <result column="C_OPERATOR" property="operator" jdbcType="VARCHAR" />
    <result column="C_SAT_DUTY_TIME" property="satDutyTime" jdbcType="VARCHAR" />
    <result column="C_SAT_WORK_TIME" property="satWorkTime" jdbcType="VARCHAR" />
    <result column="C_STATUS" property="status" jdbcType="VARCHAR" />
    <result column="C_SUN_DUTY_TIME" property="sunDutyTime" jdbcType="VARCHAR" />
    <result column="C_SUN_WORK_TIME" property="sunWorkTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    C_ID, C_COMPANY, C_NAME, C_NORMAL_DUTY_TIME, C_NORMAL_WORK_TIME, C_OPERATING_COMPANY, 
    C_OPERATING_TIME, C_OPERATOR, C_SAT_DUTY_TIME, C_SAT_WORK_TIME, C_STATUS, C_SUN_DUTY_TIME, 
    C_SUN_WORK_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_take_time
    where C_ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="findAll" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from t_take_time
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_take_time
    where C_ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.itcast.bos.pojo.TakeTime" >
    insert into t_take_time (C_ID, C_COMPANY, C_NAME, 
      C_NORMAL_DUTY_TIME, C_NORMAL_WORK_TIME, C_OPERATING_COMPANY, 
      C_OPERATING_TIME, C_OPERATOR, C_SAT_DUTY_TIME, 
      C_SAT_WORK_TIME, C_STATUS, C_SUN_DUTY_TIME, 
      C_SUN_WORK_TIME)
    values (#{id,jdbcType=INTEGER}, #{company,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{normalDutyTime,jdbcType=VARCHAR}, #{normalWorkTime,jdbcType=VARCHAR}, #{operatingCompany,jdbcType=VARCHAR}, 
      #{operatingTime,jdbcType=TIMESTAMP}, #{operator,jdbcType=VARCHAR}, #{satDutyTime,jdbcType=VARCHAR}, 
      #{satWorkTime,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{sunDutyTime,jdbcType=VARCHAR}, 
      #{sunWorkTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.itcast.bos.pojo.TakeTime" >
    insert into t_take_time
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        C_ID,
      </if>
      <if test="company != null" >
        C_COMPANY,
      </if>
      <if test="name != null" >
        C_NAME,
      </if>
      <if test="normalDutyTime != null" >
        C_NORMAL_DUTY_TIME,
      </if>
      <if test="normalWorkTime != null" >
        C_NORMAL_WORK_TIME,
      </if>
      <if test="operatingCompany != null" >
        C_OPERATING_COMPANY,
      </if>
      <if test="operatingTime != null" >
        C_OPERATING_TIME,
      </if>
      <if test="operator != null" >
        C_OPERATOR,
      </if>
      <if test="satDutyTime != null" >
        C_SAT_DUTY_TIME,
      </if>
      <if test="satWorkTime != null" >
        C_SAT_WORK_TIME,
      </if>
      <if test="status != null" >
        C_STATUS,
      </if>
      <if test="sunDutyTime != null" >
        C_SUN_DUTY_TIME,
      </if>
      <if test="sunWorkTime != null" >
        C_SUN_WORK_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="company != null" >
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="normalDutyTime != null" >
        #{normalDutyTime,jdbcType=VARCHAR},
      </if>
      <if test="normalWorkTime != null" >
        #{normalWorkTime,jdbcType=VARCHAR},
      </if>
      <if test="operatingCompany != null" >
        #{operatingCompany,jdbcType=VARCHAR},
      </if>
      <if test="operatingTime != null" >
        #{operatingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="satDutyTime != null" >
        #{satDutyTime,jdbcType=VARCHAR},
      </if>
      <if test="satWorkTime != null" >
        #{satWorkTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="sunDutyTime != null" >
        #{sunDutyTime,jdbcType=VARCHAR},
      </if>
      <if test="sunWorkTime != null" >
        #{sunWorkTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.itcast.bos.pojo.TakeTime" >
    update t_take_time
    <set >
      <if test="company != null" >
        C_COMPANY = #{company,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        C_NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="normalDutyTime != null" >
        C_NORMAL_DUTY_TIME = #{normalDutyTime,jdbcType=VARCHAR},
      </if>
      <if test="normalWorkTime != null" >
        C_NORMAL_WORK_TIME = #{normalWorkTime,jdbcType=VARCHAR},
      </if>
      <if test="operatingCompany != null" >
        C_OPERATING_COMPANY = #{operatingCompany,jdbcType=VARCHAR},
      </if>
      <if test="operatingTime != null" >
        C_OPERATING_TIME = #{operatingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null" >
        C_OPERATOR = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="satDutyTime != null" >
        C_SAT_DUTY_TIME = #{satDutyTime,jdbcType=VARCHAR},
      </if>
      <if test="satWorkTime != null" >
        C_SAT_WORK_TIME = #{satWorkTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        C_STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="sunDutyTime != null" >
        C_SUN_DUTY_TIME = #{sunDutyTime,jdbcType=VARCHAR},
      </if>
      <if test="sunWorkTime != null" >
        C_SUN_WORK_TIME = #{sunWorkTime,jdbcType=VARCHAR},
      </if>
    </set>
    where C_ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.itcast.bos.pojo.TakeTime" >
    update t_take_time
    set C_COMPANY = #{company,jdbcType=VARCHAR},
      C_NAME = #{name,jdbcType=VARCHAR},
      C_NORMAL_DUTY_TIME = #{normalDutyTime,jdbcType=VARCHAR},
      C_NORMAL_WORK_TIME = #{normalWorkTime,jdbcType=VARCHAR},
      C_OPERATING_COMPANY = #{operatingCompany,jdbcType=VARCHAR},
      C_OPERATING_TIME = #{operatingTime,jdbcType=TIMESTAMP},
      C_OPERATOR = #{operator,jdbcType=VARCHAR},
      C_SAT_DUTY_TIME = #{satDutyTime,jdbcType=VARCHAR},
      C_SAT_WORK_TIME = #{satWorkTime,jdbcType=VARCHAR},
      C_STATUS = #{status,jdbcType=VARCHAR},
      C_SUN_DUTY_TIME = #{sunDutyTime,jdbcType=VARCHAR},
      C_SUN_WORK_TIME = #{sunWorkTime,jdbcType=VARCHAR}
    where C_ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>