<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itcast.bos.dao.VehicleMapper" >
  <resultMap id="BaseResultMap" type="cn.itcast.bos.pojo.Vehicle" >
    <id column="C_ID" property="id" jdbcType="INTEGER" />
    <result column="C_DRIVER" property="driver" jdbcType="VARCHAR" />
    <result column="C_REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="C_ROUTE_NAME" property="routeName" jdbcType="VARCHAR" />
    <result column="C_ROUTE_TYPE" property="routeType" jdbcType="VARCHAR" />
    <result column="C_SNIPPER" property="snipper" jdbcType="VARCHAR" />
    <result column="C_TELEPHONE" property="telephone" jdbcType="VARCHAR" />
    <result column="C_TON" property="ton" jdbcType="INTEGER" />
    <result column="C_VEHICLE_NUM" property="vehicleNum" jdbcType="VARCHAR" />
    <result column="C_VEHICLE_TYPE" property="vehicleType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    C_ID, C_DRIVER, C_REMARK, C_ROUTE_NAME, C_ROUTE_TYPE, C_SNIPPER, C_TELEPHONE, C_TON, 
    C_VEHICLE_NUM, C_VEHICLE_TYPE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_vehicle
    where C_ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_vehicle
    where C_ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.itcast.bos.pojo.Vehicle" >
    insert into t_vehicle (C_ID, C_DRIVER, C_REMARK, 
      C_ROUTE_NAME, C_ROUTE_TYPE, C_SNIPPER, 
      C_TELEPHONE, C_TON, C_VEHICLE_NUM, 
      C_VEHICLE_TYPE)
    values (#{id,jdbcType=INTEGER}, #{driver,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{routeName,jdbcType=VARCHAR}, #{routeType,jdbcType=VARCHAR}, #{snipper,jdbcType=VARCHAR}, 
      #{telephone,jdbcType=VARCHAR}, #{ton,jdbcType=INTEGER}, #{vehicleNum,jdbcType=VARCHAR}, 
      #{vehicleType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.itcast.bos.pojo.Vehicle" >
    insert into t_vehicle
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        C_ID,
      </if>
      <if test="driver != null" >
        C_DRIVER,
      </if>
      <if test="remark != null" >
        C_REMARK,
      </if>
      <if test="routeName != null" >
        C_ROUTE_NAME,
      </if>
      <if test="routeType != null" >
        C_ROUTE_TYPE,
      </if>
      <if test="snipper != null" >
        C_SNIPPER,
      </if>
      <if test="telephone != null" >
        C_TELEPHONE,
      </if>
      <if test="ton != null" >
        C_TON,
      </if>
      <if test="vehicleNum != null" >
        C_VEHICLE_NUM,
      </if>
      <if test="vehicleType != null" >
        C_VEHICLE_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="driver != null" >
        #{driver,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="routeName != null" >
        #{routeName,jdbcType=VARCHAR},
      </if>
      <if test="routeType != null" >
        #{routeType,jdbcType=VARCHAR},
      </if>
      <if test="snipper != null" >
        #{snipper,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="ton != null" >
        #{ton,jdbcType=INTEGER},
      </if>
      <if test="vehicleNum != null" >
        #{vehicleNum,jdbcType=VARCHAR},
      </if>
      <if test="vehicleType != null" >
        #{vehicleType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.itcast.bos.pojo.Vehicle" >
    update t_vehicle
    <set >
      <if test="driver != null" >
        C_DRIVER = #{driver,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        C_REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="routeName != null" >
        C_ROUTE_NAME = #{routeName,jdbcType=VARCHAR},
      </if>
      <if test="routeType != null" >
        C_ROUTE_TYPE = #{routeType,jdbcType=VARCHAR},
      </if>
      <if test="snipper != null" >
        C_SNIPPER = #{snipper,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        C_TELEPHONE = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="ton != null" >
        C_TON = #{ton,jdbcType=INTEGER},
      </if>
      <if test="vehicleNum != null" >
        C_VEHICLE_NUM = #{vehicleNum,jdbcType=VARCHAR},
      </if>
      <if test="vehicleType != null" >
        C_VEHICLE_TYPE = #{vehicleType,jdbcType=VARCHAR},
      </if>
    </set>
    where C_ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.itcast.bos.pojo.Vehicle" >
    update t_vehicle
    set C_DRIVER = #{driver,jdbcType=VARCHAR},
      C_REMARK = #{remark,jdbcType=VARCHAR},
      C_ROUTE_NAME = #{routeName,jdbcType=VARCHAR},
      C_ROUTE_TYPE = #{routeType,jdbcType=VARCHAR},
      C_SNIPPER = #{snipper,jdbcType=VARCHAR},
      C_TELEPHONE = #{telephone,jdbcType=VARCHAR},
      C_TON = #{ton,jdbcType=INTEGER},
      C_VEHICLE_NUM = #{vehicleNum,jdbcType=VARCHAR},
      C_VEHICLE_TYPE = #{vehicleType,jdbcType=VARCHAR}
    where C_ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>