<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itcast.bos.dao.WayBillMapper">
  <resultMap id="BaseResultMap" type="cn.itcast.bos.pojo.take_delivery.WayBill">
    <id column="C_ID" jdbcType="INTEGER" property="id" />
    <result column="C_WAY_BILL_NUM" jdbcType="VARCHAR" property="wayBillNum" />
    <result column="C_ORDER_ID" jdbcType="INTEGER" property="orderId" />
    <result column="C_SEND_NAME" jdbcType="VARCHAR" property="sendName" />
    <result column="C_SEND_MOBILE" jdbcType="VARCHAR" property="sendMobile" />
    <result column="C_SEND_COMPANY" jdbcType="VARCHAR" property="sendCompany" />
    <result column="C_SEND_AREA_ID" jdbcType="VARCHAR" property="sendAreaId" />
    <result column="C_SEND_ADDRESS" jdbcType="VARCHAR" property="sendAddress" />
    <result column="C_REC_NAME" jdbcType="VARCHAR" property="recName" />
    <result column="C_REC_MOBILE" jdbcType="VARCHAR" property="recMobile" />
    <result column="C_REC_COMPANY" jdbcType="VARCHAR" property="recCompany" />
    <result column="C_REC_AREA_ID" jdbcType="VARCHAR" property="recAreaId" />
    <result column="C_REC_ADDRESS" jdbcType="VARCHAR" property="recAddress" />
    <result column="C_SEND_PRO_NUM" jdbcType="VARCHAR" property="sendProNum" />
    <result column="C_GOODS_TYPE" jdbcType="VARCHAR" property="goodsType" />
    <result column="C_PAY_TYPE_NUM" jdbcType="VARCHAR" property="payTypeNum" />
    <result column="C_WEIGHT" jdbcType="DOUBLE" property="weight" />
    <result column="C_REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="C_NUM" jdbcType="INTEGER" property="num" />
    <result column="C_ARRIVE_CITY" jdbcType="VARCHAR" property="arriveCity" />
    <result column="C_FEEITEMNUM" jdbcType="INTEGER" property="feeitemnum" />
    <result column="C_ACTLWEIT" jdbcType="DOUBLE" property="actlweit" />
    <result column="C_VOL" jdbcType="VARCHAR" property="vol" />
    <result column="C_FLOADREQR" jdbcType="VARCHAR" property="floadreqr" />
    <result column="C_WAY_BILL_TYPE" jdbcType="VARCHAR" property="wayBillType" />
    <result column="C_SIGN_STATUS" jdbcType="INTEGER" property="signStatus" />
    <result column="C_DELTAG" jdbcType="VARCHAR" property="deltag" />
  </resultMap>
  <sql id="Base_Column_List">
    C_ID, C_WAY_BILL_NUM, C_ORDER_ID, C_SEND_NAME, C_SEND_MOBILE, C_SEND_COMPANY, C_SEND_AREA_ID, 
    C_SEND_ADDRESS, C_REC_NAME, C_REC_MOBILE, C_REC_COMPANY, C_REC_AREA_ID, C_REC_ADDRESS, 
    C_SEND_PRO_NUM, C_GOODS_TYPE, C_PAY_TYPE_NUM, C_WEIGHT, C_REMARK, C_NUM, C_ARRIVE_CITY, 
    C_FEEITEMNUM, C_ACTLWEIT, C_VOL, C_FLOADREQR, C_WAY_BILL_TYPE, C_SIGN_STATUS, C_DELTAG
  </sql>
  <select id="findByWayBillNum" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select * from t_way_bill where C_WAY_BILL_NUM = #{wayBillNum}
  </select>
  
  <!-- 查询总记录数 -->
  <select id="findTotal" parameterType="cn.itcast.bos.pojo.take_delivery.WayBill" resultType="java.lang.Integer">
    select 
    	count(0)
    from t_way_bill
  </select>
  
  <!-- 查询所有数据 -->
  <select id="findPageData" parameterType="cn.itcast.bos.pojo.take_delivery.WayBill" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_way_bill
    ORDER BY C_ID DESC
    <if test="begin != null and end != null">
    	limit #{begin} , #{end}
    </if>
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_way_bill
    where C_ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_way_bill
    where C_ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.itcast.bos.pojo.take_delivery.WayBill">
    insert into t_way_bill (C_ID, C_WAY_BILL_NUM, C_ORDER_ID, 
      C_SEND_NAME, C_SEND_MOBILE, C_SEND_COMPANY, 
      C_SEND_AREA_ID, C_SEND_ADDRESS, C_REC_NAME, 
      C_REC_MOBILE, C_REC_COMPANY, C_REC_AREA_ID, 
      C_REC_ADDRESS, C_SEND_PRO_NUM, C_GOODS_TYPE, 
      C_PAY_TYPE_NUM, C_WEIGHT, C_REMARK, 
      C_NUM, C_ARRIVE_CITY, C_FEEITEMNUM, 
      C_ACTLWEIT, C_VOL, C_FLOADREQR, 
      C_WAY_BILL_TYPE, C_SIGN_STATUS, C_DELTAG
      )
    values (#{id,jdbcType=INTEGER}, #{wayBillNum,jdbcType=VARCHAR}, #{orderId,jdbcType=INTEGER}, 
      #{sendName,jdbcType=VARCHAR}, #{sendMobile,jdbcType=VARCHAR}, #{sendCompany,jdbcType=VARCHAR}, 
      #{sendAreaId,jdbcType=VARCHAR}, #{sendAddress,jdbcType=VARCHAR}, #{recName,jdbcType=VARCHAR}, 
      #{recMobile,jdbcType=VARCHAR}, #{recCompany,jdbcType=VARCHAR}, #{recAreaId,jdbcType=VARCHAR}, 
      #{recAddress,jdbcType=VARCHAR}, #{sendProNum,jdbcType=VARCHAR}, #{goodsType,jdbcType=VARCHAR}, 
      #{payTypeNum,jdbcType=VARCHAR}, #{weight,jdbcType=DOUBLE}, #{remark,jdbcType=VARCHAR}, 
      #{num,jdbcType=INTEGER}, #{arriveCity,jdbcType=VARCHAR}, #{feeitemnum,jdbcType=INTEGER}, 
      #{actlweit,jdbcType=DOUBLE}, #{vol,jdbcType=VARCHAR}, #{floadreqr,jdbcType=VARCHAR}, 
      #{wayBillType,jdbcType=VARCHAR}, #{signStatus,jdbcType=INTEGER}, #{deltag,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.itcast.bos.pojo.take_delivery.WayBill">
    insert into t_way_bill
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        C_ID,
      </if>
      <if test="wayBillNum != null">
        C_WAY_BILL_NUM,
      </if>
      <if test="orderId != null">
        C_ORDER_ID,
      </if>
      <if test="sendName != null">
        C_SEND_NAME,
      </if>
      <if test="sendMobile != null">
        C_SEND_MOBILE,
      </if>
      <if test="sendCompany != null">
        C_SEND_COMPANY,
      </if>
      <if test="sendAreaId != null">
        C_SEND_AREA_ID,
      </if>
      <if test="sendAddress != null">
        C_SEND_ADDRESS,
      </if>
      <if test="recName != null">
        C_REC_NAME,
      </if>
      <if test="recMobile != null">
        C_REC_MOBILE,
      </if>
      <if test="recCompany != null">
        C_REC_COMPANY,
      </if>
      <if test="recAreaId != null">
        C_REC_AREA_ID,
      </if>
      <if test="recAddress != null">
        C_REC_ADDRESS,
      </if>
      <if test="sendProNum != null">
        C_SEND_PRO_NUM,
      </if>
      <if test="goodsType != null">
        C_GOODS_TYPE,
      </if>
      <if test="payTypeNum != null">
        C_PAY_TYPE_NUM,
      </if>
      <if test="weight != null">
        C_WEIGHT,
      </if>
      <if test="remark != null">
        C_REMARK,
      </if>
      <if test="num != null">
        C_NUM,
      </if>
      <if test="arriveCity != null">
        C_ARRIVE_CITY,
      </if>
      <if test="feeitemnum != null">
        C_FEEITEMNUM,
      </if>
      <if test="actlweit != null">
        C_ACTLWEIT,
      </if>
      <if test="vol != null">
        C_VOL,
      </if>
      <if test="floadreqr != null">
        C_FLOADREQR,
      </if>
      <if test="wayBillType != null">
        C_WAY_BILL_TYPE,
      </if>
      <if test="signStatus != null">
        C_SIGN_STATUS,
      </if>
      <if test="deltag != null">
        C_DELTAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="wayBillNum != null">
        #{wayBillNum,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="sendName != null">
        #{sendName,jdbcType=VARCHAR},
      </if>
      <if test="sendMobile != null">
        #{sendMobile,jdbcType=VARCHAR},
      </if>
      <if test="sendCompany != null">
        #{sendCompany,jdbcType=VARCHAR},
      </if>
      <if test="sendAreaId != null">
        #{sendAreaId,jdbcType=VARCHAR},
      </if>
      <if test="sendAddress != null">
        #{sendAddress,jdbcType=VARCHAR},
      </if>
      <if test="recName != null">
        #{recName,jdbcType=VARCHAR},
      </if>
      <if test="recMobile != null">
        #{recMobile,jdbcType=VARCHAR},
      </if>
      <if test="recCompany != null">
        #{recCompany,jdbcType=VARCHAR},
      </if>
      <if test="recAreaId != null">
        #{recAreaId,jdbcType=VARCHAR},
      </if>
      <if test="recAddress != null">
        #{recAddress,jdbcType=VARCHAR},
      </if>
      <if test="sendProNum != null">
        #{sendProNum,jdbcType=VARCHAR},
      </if>
      <if test="goodsType != null">
        #{goodsType,jdbcType=VARCHAR},
      </if>
      <if test="payTypeNum != null">
        #{payTypeNum,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DOUBLE},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="arriveCity != null">
        #{arriveCity,jdbcType=VARCHAR},
      </if>
      <if test="feeitemnum != null">
        #{feeitemnum,jdbcType=INTEGER},
      </if>
      <if test="actlweit != null">
        #{actlweit,jdbcType=DOUBLE},
      </if>
      <if test="vol != null">
        #{vol,jdbcType=VARCHAR},
      </if>
      <if test="floadreqr != null">
        #{floadreqr,jdbcType=VARCHAR},
      </if>
      <if test="wayBillType != null">
        #{wayBillType,jdbcType=VARCHAR},
      </if>
      <if test="signStatus != null">
        #{signStatus,jdbcType=INTEGER},
      </if>
      <if test="deltag != null">
        #{deltag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.itcast.bos.pojo.take_delivery.WayBill">
    update t_way_bill
    <set>
      <if test="wayBillNum != null">
        C_WAY_BILL_NUM = #{wayBillNum,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        C_ORDER_ID = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="sendName != null">
        C_SEND_NAME = #{sendName,jdbcType=VARCHAR},
      </if>
      <if test="sendMobile != null">
        C_SEND_MOBILE = #{sendMobile,jdbcType=VARCHAR},
      </if>
      <if test="sendCompany != null">
        C_SEND_COMPANY = #{sendCompany,jdbcType=VARCHAR},
      </if>
      <if test="sendAreaId != null">
        C_SEND_AREA_ID = #{sendAreaId,jdbcType=VARCHAR},
      </if>
      <if test="sendAddress != null">
        C_SEND_ADDRESS = #{sendAddress,jdbcType=VARCHAR},
      </if>
      <if test="recName != null">
        C_REC_NAME = #{recName,jdbcType=VARCHAR},
      </if>
      <if test="recMobile != null">
        C_REC_MOBILE = #{recMobile,jdbcType=VARCHAR},
      </if>
      <if test="recCompany != null">
        C_REC_COMPANY = #{recCompany,jdbcType=VARCHAR},
      </if>
      <if test="recAreaId != null">
        C_REC_AREA_ID = #{recAreaId,jdbcType=VARCHAR},
      </if>
      <if test="recAddress != null">
        C_REC_ADDRESS = #{recAddress,jdbcType=VARCHAR},
      </if>
      <if test="sendProNum != null">
        C_SEND_PRO_NUM = #{sendProNum,jdbcType=VARCHAR},
      </if>
      <if test="goodsType != null">
        C_GOODS_TYPE = #{goodsType,jdbcType=VARCHAR},
      </if>
      <if test="payTypeNum != null">
        C_PAY_TYPE_NUM = #{payTypeNum,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        C_WEIGHT = #{weight,jdbcType=DOUBLE},
      </if>
      <if test="remark != null">
        C_REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        C_NUM = #{num,jdbcType=INTEGER},
      </if>
      <if test="arriveCity != null">
        C_ARRIVE_CITY = #{arriveCity,jdbcType=VARCHAR},
      </if>
      <if test="feeitemnum != null">
        C_FEEITEMNUM = #{feeitemnum,jdbcType=INTEGER},
      </if>
      <if test="actlweit != null">
        C_ACTLWEIT = #{actlweit,jdbcType=DOUBLE},
      </if>
      <if test="vol != null">
        C_VOL = #{vol,jdbcType=VARCHAR},
      </if>
      <if test="floadreqr != null">
        C_FLOADREQR = #{floadreqr,jdbcType=VARCHAR},
      </if>
      <if test="wayBillType != null">
        C_WAY_BILL_TYPE = #{wayBillType,jdbcType=VARCHAR},
      </if>
      <if test="signStatus != null">
        C_SIGN_STATUS = #{signStatus,jdbcType=INTEGER},
      </if>
      <if test="deltag != null">
        C_DELTAG = #{deltag,jdbcType=VARCHAR},
      </if>
    </set>
    where C_ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.itcast.bos.pojo.take_delivery.WayBill">
    update t_way_bill
    set C_WAY_BILL_NUM = #{wayBillNum,jdbcType=VARCHAR},
      C_ORDER_ID = #{orderId,jdbcType=INTEGER},
      C_SEND_NAME = #{sendName,jdbcType=VARCHAR},
      C_SEND_MOBILE = #{sendMobile,jdbcType=VARCHAR},
      C_SEND_COMPANY = #{sendCompany,jdbcType=VARCHAR},
      C_SEND_AREA_ID = #{sendAreaId,jdbcType=VARCHAR},
      C_SEND_ADDRESS = #{sendAddress,jdbcType=VARCHAR},
      C_REC_NAME = #{recName,jdbcType=VARCHAR},
      C_REC_MOBILE = #{recMobile,jdbcType=VARCHAR},
      C_REC_COMPANY = #{recCompany,jdbcType=VARCHAR},
      C_REC_AREA_ID = #{recAreaId,jdbcType=VARCHAR},
      C_REC_ADDRESS = #{recAddress,jdbcType=VARCHAR},
      C_SEND_PRO_NUM = #{sendProNum,jdbcType=VARCHAR},
      C_GOODS_TYPE = #{goodsType,jdbcType=VARCHAR},
      C_PAY_TYPE_NUM = #{payTypeNum,jdbcType=VARCHAR},
      C_WEIGHT = #{weight,jdbcType=DOUBLE},
      C_REMARK = #{remark,jdbcType=VARCHAR},
      C_NUM = #{num,jdbcType=INTEGER},
      C_ARRIVE_CITY = #{arriveCity,jdbcType=VARCHAR},
      C_FEEITEMNUM = #{feeitemnum,jdbcType=INTEGER},
      C_ACTLWEIT = #{actlweit,jdbcType=DOUBLE},
      C_VOL = #{vol,jdbcType=VARCHAR},
      C_FLOADREQR = #{floadreqr,jdbcType=VARCHAR},
      C_WAY_BILL_TYPE = #{wayBillType,jdbcType=VARCHAR},
      C_SIGN_STATUS = #{signStatus,jdbcType=INTEGER},
      C_DELTAG = #{deltag,jdbcType=VARCHAR}
    where C_ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>