<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itcast.crm.dao.CustomerMapper" >
  <resultMap id="BaseResultMap" type="cn.itcast.crm.domain.Customer" >
    <id column="C_ID" property="id" jdbcType="INTEGER" />
    <result column="C_USERNAME" property="username" jdbcType="VARCHAR" />
    <result column="C_PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="C_TYPE" property="type" jdbcType="INTEGER" />
    <result column="C_BRITHDAY" property="brithday" jdbcType="VARCHAR" />
    <result column="C_SEX" property="sex" jdbcType="INTEGER" />
    <result column="C_TELEPHONE" property="telephone" jdbcType="VARCHAR" />
    <result column="C_COMPANY" property="company" jdbcType="VARCHAR" />
    <result column="C_DEPARTMENT" property="department" jdbcType="VARCHAR" />
    <result column="C_POSITION" property="position" jdbcType="VARCHAR" />
    <result column="C_ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="C_MOBILEPHONE" property="mobilephone" jdbcType="VARCHAR" />
    <result column="C_EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="C_Fixed_AREA_ID" property="fixedAreaId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    C_ID, C_USERNAME, C_PASSWORD, C_TYPE, C_BRITHDAY, C_SEX, C_TELEPHONE, C_COMPANY, 
    C_DEPARTMENT, C_POSITION, C_ADDRESS, C_MOBILEPHONE, C_EMAIL, C_Fixed_AREA_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_customer
    where C_ID = #{id,jdbcType=INTEGER}
  </select>
  
   <select id="findByTelephone" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_customer
    where C_TELEPHONE = #{telephone,jdbcType=VARCHAR}
  </select>
  
  <select id="login" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_customer
    where C_TELEPHONE = #{arg0,jdbcType=VARCHAR} and C_PASSWORD = #{arg1,jdbcType=VARCHAR}
  </select>
  
  <!-- 根据地址获取定区编码 -->
  <select id="findFixedAreaIdByAddress" resultType="java.lang.String" parameterType="java.lang.String" >
    select C_Fixed_AREA_ID
    from t_customer
    where C_ADDRESS = #{address,jdbcType=VARCHAR}
  </select>
  
  <!-- 查询未关联定区用户 -->
  <select id="findByFixedAreaIdIsNull" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from t_customer
    where C_Fixed_AREA_ID is null
  </select>
  <!-- 查询已关联定区用户 -->
  <select id="findByFixedAreaId" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from t_customer
    where C_Fixed_AREA_ID = #{fixedAreaId}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_customer
    where C_ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="java.lang.Integer" >
    insert into t_customer (C_ID, C_USERNAME, C_PASSWORD, 
      C_TYPE, C_BRITHDAY, C_SEX, 
      C_TELEPHONE, C_COMPANY, C_DEPARTMENT, 
      C_POSITION, C_ADDRESS, C_MOBILEPHONE, 
      C_EMAIL, C_Fixed_AREA_ID)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{brithday,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, 
      #{telephone,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR}, 
      #{position,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{mobilephone,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{fixedAreaId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.itcast.crm.domain.Customer" >
    insert into t_customer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        C_ID,
      </if>
      <if test="username != null" >
        C_USERNAME,
      </if>
      <if test="password != null" >
        C_PASSWORD,
      </if>
      <if test="type != null" >
        C_TYPE,
      </if>
      <if test="brithday != null" >
        C_BRITHDAY,
      </if>
      <if test="sex != null" >
        C_SEX,
      </if>
      <if test="telephone != null" >
        C_TELEPHONE,
      </if>
      <if test="company != null" >
        C_COMPANY,
      </if>
      <if test="department != null" >
        C_DEPARTMENT,
      </if>
      <if test="position != null" >
        C_POSITION,
      </if>
      <if test="address != null" >
        C_ADDRESS,
      </if>
      <if test="mobilephone != null" >
        C_MOBILEPHONE,
      </if>
      <if test="email != null" >
        C_EMAIL,
      </if>
      <if test="fixedAreaId != null" >
        C_Fixed_AREA_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="brithday != null" >
        #{brithday,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="mobilephone != null" >
        #{mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="fixedAreaId != null" >
        #{fixedAreaId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.itcast.crm.domain.Customer" >
    update t_customer
    <set >
      <if test="username != null" >
        C_USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        C_PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        C_TYPE = #{type,jdbcType=INTEGER},
      </if>
      <if test="brithday != null" >
        C_BRITHDAY = #{brithday,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        C_SEX = #{sex,jdbcType=INTEGER},
      </if>
      <if test="telephone != null" >
        C_TELEPHONE = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        C_COMPANY = #{company,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        C_DEPARTMENT = #{department,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        C_POSITION = #{position,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        C_ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="mobilephone != null" >
        C_MOBILEPHONE = #{mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        C_EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="fixedAreaId != null" >
        C_Fixed_AREA_ID = #{fixedAreaId,jdbcType=VARCHAR},
      </if>
    </set>
    where C_ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.itcast.crm.domain.Customer" >
    update t_customer
    set C_USERNAME = #{username,jdbcType=VARCHAR},
      C_PASSWORD = #{password,jdbcType=VARCHAR},
      C_TYPE = #{type,jdbcType=INTEGER},
      C_BRITHDAY = #{brithday,jdbcType=VARCHAR},
      C_SEX = #{sex,jdbcType=INTEGER},
      C_TELEPHONE = #{telephone,jdbcType=VARCHAR},
      C_COMPANY = #{company,jdbcType=VARCHAR},
      C_DEPARTMENT = #{department,jdbcType=VARCHAR},
      C_POSITION = #{position,jdbcType=VARCHAR},
      C_ADDRESS = #{address,jdbcType=VARCHAR},
      C_MOBILEPHONE = #{mobilephone,jdbcType=VARCHAR},
      C_EMAIL = #{email,jdbcType=VARCHAR},
      C_Fixed_AREA_ID = #{fixedAreaId,jdbcType=VARCHAR}
    where C_ID = #{id,jdbcType=INTEGER}
  </update>
  <!-- 修改用户关联定区 -->
  <update id="updateFixedAreaId" >
    update t_customer
    set C_Fixed_AREA_ID = #{arg0}
    where C_ID = #{arg1}
    <!-- <foreach collection="array" item="id" open="(" separator="," close=")">
    	#{id}
    </foreach> -->
  </update>
  <update id="clearFixedAreaId" parameterType="string" >
    update t_customer
    set C_Fixed_AREA_ID = null
    where C_Fixed_AREA_ID = #{id,jdbcType=VARCHAR}
    <!-- <foreach collection="array" item="id" open="(" separator="," close=")">
    	#{id}
    </foreach> -->
  </update>
  <update id="updateType" parameterType="string" >
    update t_customer
    set C_TYPE = 1
    where C_TELEPHONE = #{telephone,jdbcType=VARCHAR}
  </update>
</mapper>